*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}
ul, li, a{
    text-decoration: none;
}

.header{
    width: 100%;
    height: 140px;
    display: block;
}
.header-inner{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.logo{
    float: left;
    width: 20%;
    height: 100%;
    position: relative;
}
.logo img{
    width: 60%;
    margin-left: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 140px;
}
.nav{
    width: calc(80% - 306px);
    display: flex;
    float: left;
}
.nav li{
    width: calc( calc( 100% - 60px) / 4);
}
.nav li:nth-child(2){
    width: calc( calc( 100% - 60px) / 4 + 60px);
}
.nav a{
    font-size: 20px;
    font-weight: bolder;
    color: black;
}
.util{
    width: 331px;
    display: flex;
}
.button{
    width: calc(100% - 57px);
    display: flex;
}
.button li{
    width: calc(100% / 3);
    text-align: center;
}
.button li a{
    line-height: 36px;
    display: block;
    width: 80px;
    height: 36px;
    border-radius: 18px;
    background-color: #D80007;
    color: white;
    font-weight: bold;
    font-size: 13px;
}
.button li:nth-child(2) a{
    background-color: #D87E00;
}
.button li:nth-child(3) a{
    background-color: #264A36;
}
.search{
    width: 32px;
    margin-left: 15px;
    margin-right: 25px;
}
.search a{
    width: 100%;
    float: right;
}
/* 배너 */
.banner{
    width: 100%;
    
}
.banner-inner{
    width: 100%;
}
.banner a{
    display: block;
    width: 100%;
    height: 540px;
}
.swiper-slide:nth-child(1) a{
    background: url("../images/banner 1.jpg") no-repeat center;
}
.swiper-slide:nth-child(2) a{
    background: url("../images/banner 2.jpg") no-repeat center;
}
.swiper-slide:nth-child(3) a{
    background: url("../images/banner 3.jpg") no-repeat center;
}
.swiper-slide:nth-child(4) a{
    background: url("../images/banner 1.jpg") no-repeat center;
}
.swiper-slide:nth-child(5) a{
    background: url("../images/banner 1.jpg") no-repeat center;
}
.swiper-slide:nth-child(6) a{
    background: url("../images/banner 1.jpg") no-repeat center;
}
.swiper-slide:nth-child(7) a{
    background: url("../images/banner 1.jpg") no-repeat center;
}
.swiper-slide:nth-child(8) a{
    background: url("../images/banner 1.jpg") no-repeat center;
}
.swiper-slide:nth-child(9) a{
    background: url("../images/banner 1.jpg") no-repeat center;
}
.swiper-slide:nth-child(10) a{
    background: url("../images/banner 1.jpg") no-repeat center;
}


.swiper-button-next, .swiper-button-prev{
    width: 90px;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.3);
}
.swiper-button-prev{
    margin-left: -10px;
    border-radius: 0 20px 20px 0;
}
.swiper-button-prev::after{
    font-size: 25px;
}
.swiper-button-next{
    margin-right: -10px;
    border-radius: 20px 0 0 20px;
}
.swiper-button-next::after{
    font-size: 25px;
}
/* main */
.main{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.main h1{
    font-size: 40px;
    margin-bottom: 60px;
    
}
.live{
    width: 100%;
    
}
.lives{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.lives li{
    width: calc(100% / 3 - 10px);
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    margin: 10px 0;
}
.third-live li:last-child{
    box-shadow: none;
}

.second-live{
    display: none;
}
.second-live.second{
    display: flex;
}
.third-live{
    display: none;
}
.third-live.third{
    display: flex;
}
.bt-box.close{
    display: none;
}

.live img{
    border-radius: 10px 10px 0 0;
    width: 100%;
}
.live p{
    width: 100%;
    aspect-ratio: 2.45;
    padding: 24px;
    font-size: 17px;
    font-weight: bolder;
    color: black;
    line-height: 2;
}
.bt-box{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}
.live-bt1{
    display: inline-block;
    width: 90px;
    height: 90px;
    background: url("/images/button.png");
    border: none;
    cursor: pointer;
}
.live-bt1.button1{
    display: none;
}
.live-bt2{
    display: none;
    width: 90px;
    height: 90px;
    background: url("/images/button.png");
    border: none;
    cursor: pointer;
}
.live-bt2.button2{
    display: inline-block;
}
/* 하단메뉴 */
.footer{
    background-color: #292929;
}